# Exclude Gradle build files
.gradle
/build

# Exclude IntelliJ IDEA files
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Exclude macOS-specific files
.DS_Store

# Exclude Android Studio specific files
/captures
.externalNativeBuild
.cxx

# Exclude local properties
!local.properties

# Include Gradle wrapper script
!/gradlew
